name: CD

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/react-app-test .

      - name: Publish image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/react-app-test:latest

  deploy:
    needs: build
    runs-on: aws-ec2

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Pull image from Docker Hub
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/react-app-test:latest

      - name: Delete old container
        run: docker rm -f reactContainer || true

      - name: Run new container
        run: docker run -d -p 3000:80 --name reactContainer ${{ secrets.DOCKER_USERNAME }}/react-app-test:latest
